*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden !important;
}

@font-face {
    font-family: "Benguiat";
    src: url(fontes/Benguiat\ Bold.ttf);
}

body{
    background-color: #0C0102;
    color: rgba(255, 255, 255, 0.9);
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

button{
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 16px;
    display: flex;
    gap: 12px;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    padding: 16px 0;
}

#preloader{
    width: 100%;
    height: 100vh;
    background-color: #0C0102;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    svg{
        width: 40vw;
        height: auto;

        path{
            fill: rgba(168, 19, 19, 0.364);
            stroke: rgb(168, 19, 19);
            stroke-width: 0.2px;
            stroke-dasharray: 110;
            stroke-dashoffset: 110;
        }
    }
}

.bgMonstro{
    background-color: #0C0102;
    background-image: url(imagens/bg-sec2.webp);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
}

ul{
    list-style-type: none;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4vw;
    position: absolute;
    z-index: 9;
}

section{
    width: 100%;
    display: flex;
    padding: 7vw;
}

h2{
    font-size: 40px;
    font-weight: 500;
}

.hero{
    position: relative;
    background-position: 50% 0%;
    background-size: cover;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 7vw 7vw 7vw;

    picture{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }
    }

    .esquerda, .direita{
        width: 30%;
        z-index: 3;
    }

    .esquerda{
        h3{
            font-size: 2.1vw;
            font-weight: 400;
            letter-spacing: 0.67vw;
            color: rgb(255, 255, 255, 0.8);
        }

        h1{
            font-size: 3.7vw;
            font-family: "Benguiat", serif;
            line-height: 4vw;
            margin-top: 5px;
        }
    }

    .direita{
        display: flex;
        flex-direction: column;
        align-items: end;
        p{
            font-size: 2vw;
            margin-bottom: 26px;
            text-align: end;
            color: rgb(255, 255, 255, 0.9);
        }
    }
}

.hero:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background: linear-gradient(to top, rgb(12, 1, 2) 0%, #0c010200 50%, transparent 100%);
}

.secaoCidade{
    flex-direction: column;
    padding-top: 4vw;
    position: relative;

    .titulo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cards{
        margin-top: 52px;
        display: flex;
        justify-content: space-between;

        .card{
            background-image: url(imagens/card1.webp);
            width: 31%;
            aspect-ratio: 16/9;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: end;
            justify-content: space-between;
            padding: 20px;
            border-radius: 10px;
        }

        .card:nth-child(2){
            background-image: url(imagens/card2.webp);
        }

        .card:nth-child(3){
            background-image: url(imagens/card3.webp);
        }
    }
}

.secaoDepoimentos{
    flex-direction: column;
    padding-top: 4vw;

    .logotipos{
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .depoimentos{
        margin-top: 122px;
        display: flex;
        justify-content: space-between;

        .depoimento{
            width: 31%;

            p{
                margin-top: 12px;
            }
        }
    }
}

.secaoObrigado{
    flex-direction: column;
    align-items: center;

    h2{
        margin-bottom: 40px;
    }

    .listaCidades{
        width: 100%;

        ul{
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }
    

    ul:nth-child(2){
        display: none;
    }
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(imagens/bg-footer.webp);
    background-size: cover;
    background-position: center;

    .conteudoFooter{
        display: flex;
        width: 100%;
        padding: 7vw 9vw 7vw 7vw;

        .logoFooter{
            width: 30%;
            h3{
                font-size: 1.2vw;
                font-weight: 400;
                letter-spacing: 0.67vw;
                color: rgb(255, 255, 255, 0.8);
            }

            h2{
                font-size: 2.7vw;
                font-family: "Benguiat", serif;
                line-height: 3vw;
                margin-top: 5px;
            }
        }

        .secoesFooter{
            display: flex;
            flex: 1;
            justify-content: end;
            gap: 10%;
            align-items: end;

            h3{
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 12px;
            }

            .social{
                ul{
                    display: flex;
                    gap: 12px;
                }
            }
        }
    }

    .logotiposFooter{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 4vw;
    }

    .textoInfinito{
        display: flex;
        width: max-content;

        h3{
            font-size: 12vw;
            font-family: "Benguiat", serif;
            mix-blend-mode: color-dodge;
            color: rgb(184, 184, 184);
            animation: textoInfinito 10s infinite linear;
            padding-left: 4vw;
            text-align: end;
        }
    }
}

@keyframes textoInfinito {
    100%{
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 1500px){
    .secaoCidade{
        padding: 4vw;
    }
}

@media screen and (max-width: 1400px){
    .secaoCidade .cards .card{
        flex-direction: column;
        align-items: start;
        justify-content: end;
    }
}

@media screen and (max-width: 600px) {
    h2{
        font-size: 6vw;
    }

    header h2{
        font-size: 28px;
    }

    .hero{
        flex-direction: column;
        padding: 26% 4vw 0 4vw;
        
        .esquerda, .direita{
            width: 100%;
        }

        .esquerda{
            h3,h1{
                text-align: center;
            }

            h3{
                font-size: 5vw;
            }

            h1{
                font-size: 10vw;
                line-height: 12vw;
            }
        }

        .direita{
            align-items: start;

            p{
                font-size: 5vw;
                text-align: start;
                margin-bottom: 10px;
            }
        }
    }

    .secaoCidade{
        margin-top: 80px;

        button{
            display: none;
        }

        .cards{
            margin-top: 20px;
            flex-direction: column;
            gap: 20px;

            .card{
                width: 100%;
            }
        }
    }

    .secaoDepoimentos{
        .logotipos{
            img:nth-child(1), img:nth-child(3){
                width: 20%;
            }

            img:nth-child(2){
                width: 40%;
            }
        }

        .depoimentos{
            flex-direction: column;
            gap: 48px;

            .depoimento{
                width: 100%;
            }
        }
    }

    .secaoObrigado{
        h2{
            text-align: center;
        }

        .listaCidades{
            display: flex;
            gap: 32px;

            ul:nth-child(2){
                display: flex;
            }

            ul{
                width: max-content;
                gap: 32px;
                animation: cidadesInfinitas 15s linear infinite;

                li{
                  width: max-content;
                }
            }
        }

        
    }

    footer{
        padding-top: 40px;

        .conteudoFooter{
            padding: 4vw;
            flex-direction: column;

            .logoFooter{
                width: 100%;

                h2, h3{
                    text-align: center;
                }

                h3{
                    font-size: 4vw;
                }

                h2{
                    font-size: 9vw;
                    line-height: 10vw;
                }
            }

            .secoesFooter{
                flex-wrap: wrap;
                justify-content: center;
                align-items: start;

                .social{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin: 40px 0px 32px;
                }

                .parceiro{
                    width: 44%;

                    img{
                        width: 100%;
                    }
                }
            }
        }

        .logotiposFooter{
            margin-top: 40px;
        }

        .textoInfinito{
            h3{
                font-size: 20vw;
            }
        }
    }

    @keyframes cidadesInfinitas {
        100%{
            transform: translateX(-100%);
        }
    }
}